.noprint {
  display:none !important;
}

BODY, TBODY {
  font-family: arial;
  font-size: 12px;
  margin: 0;
  color: #000;
}

.mainColumn{
  width:98% !important;
}


#workSpace{
  overflow-x: visible !important;
  overflow-y: visible !important;
  width: auto !important;
  height: auto !important;
  border:none !important;
}

.splitterContainer{
  width: auto !important;
  height: auto !important;
}
.splitElement{
  position: static !important;
  width: auto !important;
  height: auto !important;
  top:0 !important;
  left: 0 !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.vSplitBar,.emptyRow{
  display: none !important;
}

.gdfTable{
   width: 0 !important;
 }

.splitBox2{
  page-break-before: always !important;
}

.fixHead{
  display: none !important;
}